@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --medium-black: #292929;
  --rounded-table: 10px;
  --rounded-btn: 25px;
  --btn-approve: #4b12a5;
  --btn-logout: #530000;
  --bg-v-light: #651cda;
  --text-color-dark: #181818;
  --text-color-white: #fff;
  --bg-white: #fff;
  --v-rbga: rgba(75, 18, 165, 0.7);
}



/*bootstrap redefined*/
.form-floating > .form-control {
  border: 1px solid var(--bs-secondary);
  border-radius: 10px;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  box-shadow: none;
}

.form-floating > .form-control:focus {
  border-color: var(--bg-v-light);
  box-shadow: 0 0 12px var(--v-rbga);
  outline: none;
}

.input-group > .form-control {
  border-left: 0px solid var(--bs-secondary);
  border-radius: 10px;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  box-shadow: none;
}

.input-group > .form-control:focus {
  border-color: var(--bg-v-light);
  box-shadow: 0 0 10px var(--v-rbga);
  outline: none;
}

.phone-prefix-dropdown {
  position: relative; /* nutné pro správné zarovnání */
}

.phone-prefix-dropdown .dropdown-toggle {
  width: 5rem !important;
  height: calc(3.5rem + 2px);
  border: 1px solid var(--bs-secondary);
  border-radius: 10px 0 0 10px;
  background-color: var(--v-rbga);
  color: #fff !important;
  padding-right: 1.75rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  /* odstranění defaultní šipky Bootstrapu */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* hover a focus */
.phone-prefix-dropdown .dropdown-toggle:hover,
.phone-prefix-dropdown .dropdown-toggle:focus {
  background-color: var(--v-rbga) !important;
  color: #fff !important;
  border-color: var(--bg-v-light) !important;
  box-shadow: 0 0 12px var(--v-rbga) !important;
  outline: none !important;
}

/* Dropdown menu */
.phone-prefix-dropdown .dropdown-menu {
  width: 5rem !important;
  min-width: 5rem !important;  
  max-width: 5rem !important;
  max-height: 200px; 
  overflow-y: auto;
  left: 0 !important;
  right: auto !important;
  border-radius: 10px;
  background-color: var(--v-rbga);
  box-shadow: none; 
}

/* Položky v dropdownu */
.phone-prefix-dropdown .dropdown-item {
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
}

.phone-prefix-dropdown .dropdown-item:hover,
.phone-prefix-dropdown .dropdown-item:focus {
  background-color: var(--btn-approve); 
  color: #fff;
}

/* Vybraná položka */
.phone-prefix-dropdown .dropdown-item.active,
.phone-prefix-dropdown .dropdown-item:active {
  background-color: var(--btn-approve);
  color: #fff;
}

.phone-prefix-dropdown.show > .dropdown-toggle {
  background-color: var(--v-rbga) !important; 
  box-shadow: none !important;
  color: #fff !important;
}

.phone-prefix-dropdown.show > .dropdown-menu {
  background-color: var(--v-rbga) !important; 
  filter: none !important;
  opacity: 1 !important;
}

/* případně zrušit shadow */
.phone-prefix-dropdown.show > .dropdown-toggle:focus,
.phone-prefix-dropdown.show > .dropdown-toggle:hover {
  box-shadow: 0 0 12px var(--v-rbga) !important; /* nebo none podle potřeby */
}

.dropdown-toggle::after {
  display: none !important; 
}


.max-dropdown {
  width: 100%;

}

.max-dropdown .dropdown-toggle {
  width: 100% !important;
  text-align: left;
  background-color: var(--bg-white);
  color: var(--medium-black) !important;
  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem;
  border: 1px solid var(--bs-secondary);
  padding-left: 1rem;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  box-sizing: border-box;
  
  border-radius: 10px 10px 10px 10px !important;
}

.max-dropdown .dropdown-toggle:hover,
.max-dropdown .dropdown-toggle:focus {
  background-color: var(--v-rbga) !important;
  border-color: var(--bg-v-light) !important;
  box-shadow: 0 0 12px var(--v-rbga) !important;
  outline: none !important;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
  color: var(--text-color-white) !important;
  border-radius: 10px 10px 10px 10px !important;
}

.max-dropdown .dropdown-menu {
  width: 100% !important;
  border-radius: 10px;
  background-color: var(--v-rbga);
  box-shadow: none;
  max-height: 200px; /* případně scroll při velkém seznamu */
  overflow-y: auto;
}

.max-dropdown .dropdown-item {
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
}

.max-dropdown .dropdown-item:hover,
.max-dropdown .dropdown-item:focus,
.max-dropdown .dropdown-item.active,
.max-dropdown .dropdown-item:active {
  background-color: var(--btn-approve);
  color: #fff;
}


.input-group-text.bg-v-light {
  background-color: var(--bg-v-light) !important;
  color: var(--text-color-white);
  border: 1px solid var(--bg-v-light) !important;
}

.form-check .form-check-input {
  border: 1px solid var(--bs-secondary) !important;
  transition: box-shadow 0.2s ease, border-color 0.2s ease, background-color 0.2s ease !important;
  box-shadow: none !important;
  outline: none !important;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.25rem;
  cursor: pointer;
}

.form-check .form-check-input:focus {
  border-color: var(--bg-v-light) !important;
  box-shadow: 0 0 10px var(--v-rbga) !important;
}

.form-check .form-check-input:checked {
  background-color: var(--btn-approve) !important;
  border-color: var(--btn-approve) !important;
}

.display-1 {
  font-size: 2.2rem !important;
}

.display-2 {
  font-size: 2rem !important;
}

.display-3 {
  font-size: 1.6rem !important;
}

.display-4 {
  font-size: 1.3rem !important;
}

.display-5 {
  font-size: 1rem !important;
}

.display-6 {
  font-size: 0.7rem !important;
}

.shadow {
  box-shadow: 0 .5rem 1rem var(--v-rbga) !important;
}


.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: var(--medium-black);
  text-align: left;
  background-color: var(--bg-white);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out,
              background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
}

.accordion-button:not(.collapsed) {
  color: var(--v-rbga);
  background-color: var(--v-rbga) !important;
  box-shadow: inset 0 -1px 0 var(--v-rbga);
  color: var(--bg-white) !important;
}

.accordion-button:not(.collapsed)::after {
 transform: rotate(180deg) !important;
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23ffffff' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e") !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23292929' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--bg-v-light) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--v-rbga) !important;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid var(--v-rbga) !important; 
  border-radius: 0.25rem;
}

.form-floating > .form-select {
  border: 1px solid var(--bs-secondary);
  border-radius: 10px;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  box-shadow: none;
  background-color: var(--bs-body-bg) !important; 
}

.form-floating > .form-select:focus {
  border-color: var(--bg-v-light);
  box-shadow: 0 0 12px var(--v-rbga);
  outline: none;
}

.form-select {
  border: 1px solid var(--bs-secondary);
  border-radius: 10px;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  box-shadow: none;
}

.form-select:focus {
  border-color: var(--bg-v-light);
  box-shadow: 0 0 12px var(--v-rbga);
  outline: none;
}

.nav-tabs {
  border-bottom: 1px solid #292929 !important;
}

.nav-link {
  color: var(--foreground, #171717) !important; 
}

.nav-link:hover {
  border-color: #292929 #292929 transparent !important;
  background-color: transparent !important;
  color: var(--foreground, #171717) !important;
}

.nav-link.active {
  color: inherit; /* nebo vlastní barva */
  text-shadow: 2px 2px 2px var(--v-rbga);
  border-color: #292929 #292929 transparent !important; /* upravený border */
  background-color: transparent;
}
/*--------*/

/*personal global styles*/

a {
  text-decoration: none !important;
}

.text-1 {
  font-size: 2.2rem !important;
}

.text-2 {
  font-size: 2rem !important;
}

.text-3 {
  font-size: 1.6rem !important;
}

.text-4 {
  font-size: 1.3rem !important;
}

.text-5 {
  font-size: 1rem !important;
}

.text-6 {
  font-size: 0.8rem !important;
}
.text-7 {
  font-size: 0.7rem !important;
}


.container-fluid {
  max-width: 2000px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.rounded-10 {
  border-radius: 10px;
}

.bg-light {
  background-color: #5f5f5f;
}

.position-rel {
  position: relative;
}


.border-v {
  border: 1px solid var(--bg-v-light);
}
.bg-v-light {
  background-color: var(--bg-v-light);
}

.rounded-input {
  border-top-left-radius: var(--rounded-table);
  border-bottom-left-radius: var(--rounded-table);
  border-top-right-radius: var(--rounded-table);
  border-bottom-right-radius: var(--rounded-table);
  border: 1px solid var(--bg-v-light);
}

.v-btn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: var(--rounded-btn);
  border: 2px solid var(--btn-approve);
  background-color: var(--bg-white);
  color: var(--text-color-dark);
}

.v-btn:hover {
  background-color: var(--btn-approve);
  color: var(--bg-white);
}

.v-btn-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid var(--btn-approve);
  background-color: var(--bg-white);
  color: var(--text-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ms-1px {
  margin-left: 1px;
}

.mb-1px {
  margin-bottom: 1px;
}

.ms-2px {
  margin-left: 2px;
}

.mb-2px {
  margin-bottom: 2px;
}

.v-btn-circle:hover {
  background-color: var(--btn-approve);
  color: var(--bg-white);
}

.sticky-nav-body {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  overflow: visible;
}

.margin-pro-redux {
  margin-top: 3.5rem;
}

.w-90 {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.text-shadow {
  font-weight: 500;
  font-size: 1.1rem !important;
  text-shadow: 2px 2px 2px var(--v-rbga);
}

@media (max-width:992px) {
  .sticky-nav-body {
    width: 100%;
  }
}
/*----------*/



/*Login part*/
#login .login-container,
#pass-change .login-container,
#pc-req .login-container   {
  border: 1px solid var(--medium-black);
  border-radius: var(--rounded-table);
  max-width: 20rem;
}

#login .login-container .eye-pos {
  position: absolute;
  top: -1px;
  right: 6px;
}

#login .cookie-bar {
  box-shadow: 0 0 12px var(--v-rbga);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 40vh;
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.3s ease;
}

#login .cookie-bar.hide {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

#login .vh-60 {
  width: 100%;
  height: 60vh;
}

#login .vh-100,
#pass-change .vh-100,
#pc-req .vh-100 {
  width: 100%;
  height: 100vh;
}

#pc-req .go-b-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: var(--text-color-dark);
  background-color: var(--bg-white);
  border: 2px solid var(--btn-approve);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.4s ease, padding 0.4s ease;
  padding: 0;
  position: relative;
}

#pc-req .go-b-btn .go-b-text {
  opacity: 0;
  margin-left: 0.5rem;
  transition: opacity 0.3s ease;
  font-size: 0.9rem;
}

#pc-req .go-b-btn:hover {
  background-color: var(--btn-approve);
  color: var(--bg-white);
  width: 12rem; 
  padding: 0 1rem;
  border-radius: 2rem;
}

#pc-req .go-b-btn:hover .go-b-text {
  opacity: 1;
}

/* ---------- */

/*crm body part*/
#crm-body .profile-pic {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#crm-body .active-link {
  box-shadow: 0 0 10px var(--v-rbga);
  outline: none;
}

#crm-body .nav-border,
#subnavbar .nav-border {
  box-shadow: 2px 0px 7px 1px var(--v-rbga);
}

#crm-body .vh-100 {
  margin-top: 4.1rem;
  width: 100%;
  height: 90vh;
  z-index: 500;
}
#crm-body .link-text {
  color: var(--text-color-dark);
}

#crm-body .v-bg {
  background-color: var(--bg-white);
  margin-top: 0rem;
}
@media (max-width:992px) {
  #crm-body .vh-100 {
  margin-top: 0;
  width: 100%;
  height: 5rem !important;
  }

  #crm-body .nav-border {
    box-shadow: 0px 4px 7px 1px var(--v-rbga);
    
  }

  #crm-body .link-text {
    color: var(--text-color-white);
  }

  #crm-body .v-bg {
    background-color: var(--v-rbga);
    margin-top: 0.4rem !important;
    z-index: 500;
  }

}


#subnavbar .vh-10 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25.8vw;
  height: 10vh;
}

#subnavbar .logout-btn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: var(--rounded-btn);
  border: 2px solid var(--btn-logout);
  background-color: var(--btn-logout);
  color: var(--text-color-white);
}

#subnavbar .logout-btn:hover {
  background-color: var(--foreground);
}

#subnavbar .open-sub-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 25px;
  color: var(--text-color-dark);
  background-color: var(--bg-white);
  border: 2px solid var(--btn-approve);
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.4s ease, padding 0.4s ease;
  padding: 0;
  position: relative;
  direction: rtl; 
}

#subnavbar .open-sub-btn .open-sub-text {
  opacity: 0;
  margin-right: 0.5rem;
  transition: opacity 0.3s ease;
  font-size: 0.9rem;
}

#subnavbar .open-sub-btn:hover {
  background-color: var(--btn-approve);
  color: var(--bg-white);
  width: 10.5rem;
  padding: 0 1rem;
  border-radius: 2rem;
}

#subnavbar .open-sub-btn:hover .open-sub-text {
  opacity: 1;
}
#subnavbar .arrow-in-btn {
  margin-left: 4px;
  display: flex;
}

#subnavbar .open-sub-btn:hover .arrow-in-btn {
  display: none;
}
#subnavbar .subnav-container {
  position: fixed;
  top: 0;
  left: 100vw; /* začíná mimo obrazovku vpravo */
  width: 75vw;
  background-color: var(--bg-white);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  box-shadow: 0 4px 12px var(--v-rbga);
  max-height: 90vh;
  overflow: hidden;
  
  transition: left 0.4s ease-in-out; /* animace */
}

#subnavbar .subnav-container.active {
  left: 26%; /* viditelná pozice */
  box-shadow: 7px 0px 7px 1px var(--v-rbga);
}


@media (max-width:992px) {
 /* #subnavbar .subnav-container {
    top: 30;
  }

  #crm-body .vh-10 {
    top: 30;
    
  }*/
   #subnavbar .vh-10 {
    position: fixed;
    width: 100%;
    height: 4vh !important;
    background-color: var(--btn-approve);
    transition: top 0.4s ease-in-out;
  }

  #subnavbar .vh-10.top-default {
    top: 5rem;
  }

  #subnavbar .vh-10.top-shifted {
    z-index: 1;
    top: 8.7rem;
  }

  #subnavbar .subnav-container {
    top: -100vh; /* schované nad obrazovkou */
    left: 0;
    width: 100vw !important;
    transition: top 0.4s ease-in-out !important;
  }

  #subnavbar .subnav-container.active {
    top: 5rem; /* sjede dolů */
    left: 0%;
  }

}
/* ------- */

/* Crm account part */
#account .profile-pic {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
